body, html{
	width: 100%;
	height: 100%;
	margin:0px;
	
}


#MainContainer{
	width: 100%;
	height: 100%;
	margin:0px;
	position: absolute;

}
#topnavcontainer{
	width: 100%
}

.topnav li{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding-right:15px;
	text-transform: uppercase;
}

.navleft {
	text-align: right;

}

#ListContainer{
		text-align: center;

}

#Ulcontainer li{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding-right:15px;
	text-transform: uppercase;
	color: rgba(225,225,225,.9	rgba);


}
